node_modules
.next
.git
.gitignore
npm-debug.log*
README.md
.env
.env*.local
Dockerfile
.dockerignore
docker-compose.yml
postgres-data
coverage
.vscode
.idea
**/*.md
!prisma/**
public/uploads/*
!public/uploads/.gitkeep
